:root {
  --bg_primary01: white;
  --bg_primary02: white;
  --bg_secundary01:grey;
  --bg_secundary02:#bebebe;
  --bg_tertiary01:black;
  --bg_tertiary02:black;

  --color_primary01: black;
  --color_primary02: black;
  --color_secundary01:white;
  --color_secundary02:black;
  --color_tertiary01:white;
  --color_tertiary02:white;

  --red: red;
  --darkred: darkred;
  --green: green;

  --padding: 10px;
  --padding_small: 5px;
  --radius:10px;
  --radius_small:5px;
  --radius_big:25px;

  --transparent_2: rgba(0, 0, 0, 0.2);
	--transparent_5: rgba(0, 0, 0, 0.5);
	--transparent_8: rgba(0, 0, 0, 0.8);
}

body{
	background-color:var(--bg_primary01);
	color:var(--color_primary01);
	font-family: 'Roboto Condensed';
  font-size: 14px;
  line-height: 16px;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}
h1 {
	font-size: 50px;
	line-height: 50px;
  font-family: 'Grenadier';
}
h2 {
	font-size: 30px;
	line-height: 30px;
  font-family: 'Grenadier';
}
h3 {
	font-size: 20px;
	line-height: 20px;
}
h4 {
	font-size: 16px;
	line-height: 16px;
}
h5 {
	font-size: 14px;
	line-height: 14px;
}
h6 {
  font-size: 12px;
  line-height: 12px;
}

ul{
	margin:0px;
	padding:0px;
}
ul li{
	list-style: none;
  display: block;
}
ul.list_circle li{
	list-style-type: circle;
}

a, a:hover, a:focus, a:active{
	color:var(--color_tertiary01);
	text-decoration: none;
}

img{
  width: 100%;
}

.text_red{
  color: var(--red);
}
.text_green{
  color: var(--green);
}
.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.text_center{
  text-align: center;
}

.grey_image{
	filter: grayscale(100%);
}

textarea:focus, input:focus{
  outline: none;
}


.close{
	width: 30px;
  height: 30px;
  background-color: var(--color_primary01);
  border: solid 1px var(--color_primary01);
  color: var(--bg);
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  top: -15px;
  right: -15px;
  font-size: 30px;
  line-height: 25px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.close:active, .close:focus, .close:hover{
  background-color: var(--bg);
  color: var(--text);
}

input, textarea{
  border-radius: var(--radius);
  padding: var(--padding_small) var(--padding);
  font-size: 14px;
  line-height: 14px;
  height: 25px;
  width: 100%;
  background-color: transparent;
}
.input_light{
  border: solid 1px var(--color_primary01);  
  color: var(--color_primary01);
}
.input_dark{
  border: solid 1px var(--bg);
  color: var(--bg);
}
textarea {
	resize: none;
  min-height: 200px;
}

.alert {
  width: 100%;
  padding: var(--padding);
  border-radius: var(--radius);
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
  margin-top: var(--padding);
}
.alert.alert-success {
  background-color: rgba(0, 128, 0, 0.3);
  border: solid 1px var(--green);
  color: var(--green);
}
.alert.alert-danger {
  background-color: rgba(255, 0, 0, 0.3);
  border: solid 1px var(--red);
  color: var(--red);
}

.page_exit{
  text-align: center;
  padding: var(--padding);
}

/* BUTTONS */
.mybutton{
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: var(--padding_small) var(--padding);
  border-radius: 10px;
  height: 25px;
  width: 100%;
  cursor: pointer;
}
.round{
  width: 50px;
  height: 50px;
  background-color: var(--bg_secundary01)!important;
  border: solid 1px var(--bg_secundary01)!important;
  color: var(--color_secundary01)!important;
  border-radius: 100%;
  padding: var(--padding_small);
}
.round:hover, .round:active, .round:focus{
  background-color: var(--bg_secundary01)!important;
  color: var(--color_secundary01)!important;
}
.button_transparent{
  background-color: transparent!important;
  border: solid 1px var(--bg_secundary01)!important;
  color: var(--bg_secundary01)!important;
}
.button_transparent:hover, .button_transparent:active, .button_transparent:focus{
  background-color: var(--bg_secundary01)!important;
  color: var(--color_secundary01)!important;
}
.button_fullcolor, .button_fullcolor:active, .button_fullcolor:focus{
  background-color: var(--bg_secundary01)!important;
  border: solid 1px var(--bg_secundary01)!important;
  color: var(--color_secundary01)!important;
}
.button_fullcolor:hover{
  background-color: transparent!important;
  color: var(--color_secundary01)!important;
}
.button_fullcolor_dark{
  background-color: var(--bg_tertiary01)!important;
  border: solid 1px var(--bg_tertiary01)!important;
  color: var(--color_secundary01)!important;
}
.button_fullcolor_dark:hover, .button_fullcolor_dark:active, .button_fullcolor_dark:focus{
  background-color: var(--bg_tertiary01)!important;
  color: var(--color_secundary01)!important;
}
#top{
  position: fixed;
  z-index: 9999;
  bottom: 35px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--bg_tertiary01);
  border: solid 1px var(--bg_tertiary01);
  color: var(--color_tertiary01);
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 50px;  
  cursor: pointer;
}
#top:hover{
  background-color: var(--color_tertiary01);
  border: solid 1px var(--bg_tertiary01);
  color: var(--bg_tertiary01);
}

/* DROPDOWN */
.dropdown{
  border-radius: var(--radius);
}
.dropdown .dropdown-toggle, .dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:active, .dropdown .dropdown-toggle:focus{
  background-color: transparent;
  border: solid 1px var(--color_primary01);
  color: var(--color_primary01);
  box-shadow: none!important;
  border-radius: var(--radius);
  padding: var(--padding_small) var(--padding)!important;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown .dropdown-menu{
  background-color: var(--bg);
  border: solid 1px var(--color_primary01);
  color: var(--color_primary01);
  width: 100%;
  border-radius: var(--radius);
  max-height: 200px;
  overflow-x: hidden;  
	overflow-y: auto;
}
.dropdown-item{
  color: var(--color_primary01);
  text-align: center;
  padding: var(--padding_small) var(--padding);
}
.dropdown-item:focus, .dropdown-item:active, .dropdown-item:hover{
  background-color: var(--color_primary01);
  color: var(--bg);
}

/* BREADCRUMB */
.breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb a{
  color: var(--color_primary01);
}
.breadcrumb a{
  text-decoration: underline;
}

/* POPUP */
.mymodal{
  z-index: 9999;
}
.modal-content{
  background-color: var(--color_primary01);
  border: solid 1px var(--bg);
  color: var(--bg);
}
.modal-header{
  padding: var(--padding_small) var(--padding);
  background: var(--bg);
  color: var(--color_primary01);
  border: solid 0px transparent;
}
.closeButton{
  background: var(--color_primary01);
  border: solid 1px var(--bg);  
  color: var(--bg);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.closeButton span{
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.closeButton:hover{
  background: var(--bg);
  color: var(--color_primary01);
  border: solid 1px var(--color_primary01);  
}
.popup_body{
  color: var(--bg);
}
.mymodal .modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content input{
  background-color: var(--bg);
  color: var(--color_primary01);
}

/* COOKIES */
.cookies_msg_container {
  position: absolute;
  bottom: 50px;	
  padding: 20px;
  max-width: 780px;
  width: 100%;	
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}
.cookies_msg{
  display: flex;
  align-items: center;
  justify-content: space-between;	
  background: var(--bg_tertiary01);	
  border-radius: var(--radius);
  padding: 20px;
  border: solid 1px var(--bg_tertiary01);    
}
.cookies_text {
  width: 75%;
  display: block;
  color: var(--color_tertiary01);
  font-size: 14px;
  text-align: left;
}
.confirm_cookies {
  width: 20%;
  display: block;
  position: relative;
}
.confirm_cookies button {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:var(--color_tertiary01)!important;
  color:var(--bg_tertiary01)!important;
  border-radius:20px;
  border:solid 1px var(--color_tertiary01)!important;
}
.confirm_cookies button:hover {
  background:transparent;
}

/* LANGUAGE */
.language, .currency{
  padding-right: var(--padding_small);
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  max-width: 80px;
}
.language li, .currency li{
  display: inline-block;
  vertical-align: middle;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--color_primary01);
  width: 45px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
}
.language li:last-child, .currency li:last-child{
  border: solid 0px transparent;
}
.language .dropdown .dropdown-menu, .currency .dropdown .dropdown-menu{
  min-width: auto;
}
.language .dropdown .dropdown-toggle, .currency .dropdown .dropdown-toggle{
  font-size: 12px;
  line-height: 12px;
  width: 100%;
}
.language .dropdown-item, .currency .dropdown-item{
  padding: var(--padding_small);
  font-size: 12px;
  line-height: 12px;
}

/* SETTINGS */
.settings .dropdown .dropdown-toggle{
  background-color: var(--bg_primary02);
  border: solid 1px var(--bg_secundary01);
  width: 100%;
  font-size: 12px;
  line-height: 12px;
}
.settings .dropdown .dropdown-menu{
  background-color: var(--bg_primary02);
  border: solid 1px var(--bg_secundary01);
}
.settings .dropdown-item {
  padding: var(--padding_small);
  font-size: 12px;
  line-height: 12px;
  color: var(--color_primary02);
}
.settings > div{
  display: inline-block;
  vertical-align: middle;
}

/* HEADER */
.header_container{
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}
.page{
  padding-top: 86px;
}
.header{
  background-color: var(--bg_secundary01);
  color: var(--color_secundary01);
  padding: var(--padding);
}
.header ul{
  padding-top: var(--padding_small);
}
.header ul li{
  display: inline-block;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--color_secundary01);
}
.header ul li:last-child{
  border-right: none;
  padding: 0px 0px 0px var(--padding_small);
}
.header a, .header a:hover, .header a:focus, .header a:active{
  color: var(--color_secundary01);
}
.header_left{
  text-align: left;
}
.header_right{
  text-align: right;
}

/* NAVBAR */
.shop_navbar{
  background-color: var(--bg_secundary02);
  color: var(--color_secundary02);
}
.shop_navbar .navbar-brand{
  color: var(--color_secundary02);
}
.shop_navbar .dropdown{
  position: static!important;
  color: var(--color_secundary02);
}
.shop_navbar .nav-item-all, .shop_navbar .nav-item .dropdown-toggle{
  border-radius: 0px;
  border: none;
  border-right: solid 1px var(--color_secundary02);
  cursor: pointer;
}
.shop_navbar .nav-item-all{
  padding: var(--padding_small) var(--padding);
}
.shop_navbar .nav-item:last-child .dropdown-toggle{
  border-right: none;
}
.shop_navbar .dropdown .dropdown-menu{
  background-color: transparent;
  border: solid 0px transparent;
  padding: var(--padding_small) var(--padding);
}
.shop_navbar .shop_navbar_dropdown{
  background-color: var(--bg_secundary02);
  color: var(--color_secundary02);
  padding: var(--padding_small);
  border-radius: var(--radius);
}
.shop_navbar .input_navbar {
  background-color: var(--bg_primary01);
  color: var(--color_primary01);
  border: solid 1px var(--bg_primary01);
  border-radius: var(--radius) 0px 0px var(--radius);
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 80%;
}
.shop_navbar .button_navbar{
  background-color: var(--bg_primary01);
  color: var(--color_primary01);
  border: solid 1px var(--bg_primary01);
  border-radius: 0px var(--radius) var(--radius) 0px;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 20%;
}
.shop_navbar .button_navbar svg path{
  fill: var(--bg_secundary02);
}
.shop_navbar .icon{
  margin-left: var(--padding_small);
  cursor: pointer;
}
.shop_navbar .icon svg path{
  fill: var(--color_secundary02);
}
.shop_navbar .icon_list{
  margin-top: var(--padding_small);
  text-align: center;
}
.shop_navbar .icon_container{
  position: relative;
  z-index: 1;
}
.shop_navbar .icon_container .number{
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
  background-color: var(--bg_primary01);
  border-radius: 100%;
  border: solid 1px var(--color_primary01);
  color: var(--color_primary01);
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 10px;
}
.shop_navbar .navbar-toggler{
  color: var(--bg_primary01);
}
.shop_navbar .navbar-toggler:focus{
  box-shadow: 0 0 0 0;
}

/* FOOTER */
.footer_container {
  position: fixed;
  z-index: 9999;
  bottom: -1px;
  width: 100%;
}
.footer_button_container{
  text-align: right;
  padding: 0px var(--padding);
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}
.footer_button{
  background-color: var(--bg_secundary01);
  border:solid 1px var(--bg_secundary01);
  border-bottom: 0 solid transparent;
  color: var(--color_secundary01);
  padding: var(--padding) var(--padding) var(--padding_small) var(--padding);
  border-radius: var(--radius) var(--radius) 0px 0px;
  display: inline-block;  
  position: relative;
  top: 1px;
}
.footer_body{
  background-color: var(--bg_secundary01);
  color: var(--color_secundary01);
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  height: 1px;
  overflow: hidden;
  transition: height 0.2s ease-out;
}
.footer_container.up .footer_body{
  border-top:solid 1px var(--bg_secundary01);
  height: 50px;
}
.footer_list, footer{
  padding: var(--padding_small) var(--padding);
}
.footer_list li{
  display: inline-block;
  padding: 0px var(--padding_small);
  border-right: solid 1px var(--color_secundary01);
  cursor: pointer;
}
.footer_list li:last-child{
  border-right: solid 0px transparent;
}

/* PROMO */
.cell_image{
  position: relative;
  z-index: 1;
}
.cell_info{
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: var(--transparent_5);
  color: var(--bg_primary01);
  text-align: center;
}
.cell_info h4{
  position: absolute;
  top: 50%;
  width: 100%;
}
.cell_promo{
  position: relative;
  z-index: 1;
}
.cell_promo .cell_button{
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0px);
}
.cell_promo:hover .cell_info{
  display: block;
}

/* Panel */
.panel_container{
	position: fixed;
  z-index: 2;
	top: 86px;
	bottom: -86px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--bg_secundary01);
	color: var(--color_secundary01);
  width: 300px;
}
.panel_box{
	margin-bottom: var(--padding_small);
}

.panel_box h4{
	margin-bottom: var(--padding_small);
  padding: var(--padding_small);
	background-color: var(--bg_secundary02);
  color: var(--color_secundary02);
  text-align: center;
}
.panel_box ul{
  text-align: center;
}
.panel_box ul li{
	cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 25px;
  background-color: var(--bg_primary01);
  border: solid 1px var(--bg_primary01);
  color: var(--bg_secundary01);
  padding: var(--padding_small);
  text-align: center;
  margin: var(--padding_small);
}

.panel_box .dropdown .dropdown-toggle{
  background-color: var(--bg_secundary02);
  border: solid 1px var(--bg_secundary02);
  color: var(--color_secundary02);
  border-radius:0px;
  width: 100%;
}
.panel_box .dropdown .dropdown-menu {
  background-color: var(--bg_secundary02);
  border: solid 1px var(--bg_secundary02);
  color: var(--color_secundary02);
  border-radius: 0px;
  max-height: 200px;
  text-align: center;
}
.panel_box  .dropdown-item:focus, .panel_box .dropdown-item:active, .panel_box .dropdown-item:hover {
  background-color: var(--bg_secundary01);
	color: var(--color_secundary01);
}
.panel_box.panel_size .dropdown-item, .panel_box.panel_color .dropdown-item{
  display: inline-block;
  width: auto;
  padding: var(--padding_small);
}

.panel_dot_size{
	display: inline-block;
  width: 40px;
  height: 25px;
  background-color: var(--bg_primary01);
  border: solid 1px var(--bg_primary01);
  color: var(--bg_secundary01);
  padding: var(--padding_small);
  text-align: center;
  cursor: pointer;
}
.panel_dot_color{
	display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: solid 1px black;
  margin: 0px 5px;
  cursor: pointer;
}
.panel_dot_color.red{
	background-color: red;
}
.panel_dot_color.orange{
	background-color: orange;
}
.panel_dot_color.pink{
	background-color: pink;
}
.panel_dot_color.yellow{
	background-color: yellow;
}
.panel_dot_color.green{
	background-color: green;
}
.panel_dot_color.blue{
	background-color: blue;
}
.panel_dot_color.purple{
	background-color: purple;
}
.panel_dot_color.brown{
	background-color: brown;
}
.panel_dot_color.white{
	background-color: white;
}
.panel_dot_color.grey{
	background-color: grey;
}
.panel_dot_color.black{
	background-color: black;
}

/* STARS */
.stars img{
  width: 20px;
}

/* PRODUCTS */
.products_container{
  padding: var(--padding) 0px;
}
.products_list_container{
  padding-left: 300px;
}
.products_list{
  padding: var(--padding);
}
.product_img{
  position: relative;
  z-index: 1;
}
.product_img .discount{
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background-color: var(--red);
  color: white;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.product_info{
  text-align: center;
}

/* PRODUCT */
#product_page{
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}
.product_image_box{
  position: relative;
  z-index: 1;
}
.product_image_box .canvas_image{
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  border: solid 1px var(--color_primary01);
  border-radius: 100%;
  height: 120px;
  width: 120px;
  display: none;
}

/* media */
@media (max-width: 1200px){
	
}
@media (max-width: 1024px){
	
}
@media (max-width: 990px){	
  .panel_container{
    position: static;
    width: 100%;
  }
  .products_list_container{
    padding-left: 0px;
  }
  .panel_box{
    display: inline-block;
    width: 20%;
    padding: var(--padding_small);
    margin-bottom: 0px;
  }
  .page {
    padding-top: 100px;
  }
  .shop_navbar .icon_container{
    display: inline-block;
    width: 33.33%;
  }
}
@media (max-width: 767px) {  
	h1 {
		font-size: 30px;
		line-height: 30px;
	}
	h2 {
		font-size: 18px;
		line-height: 18px;
	}
	h3 {
		font-size: 16px;
		line-height: 16px;
	}
	h4 {
		font-size: 14px;
		line-height: 14px;
	}	
	h6 {
		font-size: 10px;
		line-height: 10px;
	} 
  input, textarea, #payment_form .dropdown .dropdown-toggle{
    font-size: 12px;
    line-height: 12px;
    height: 20px;
  } 
}
@media (max-width:600px) {	
  
}
@media (max-width:480px) {
 
}

@media (max-width: 960px) and (orientation: landscape) {
	
}
@media (max-width: 768px) and (orientation: landscape){
	
}

@media (max-height: 500px){
	
}

::-webkit-scrollbar{
	width: 10px;
	height:5px;
	border-radius: var(--radius);
}
::-webkit-scrollbar-track {
	border-radius: var(--radius);
	background:var(--bg_secundary02);
	border:solid 4px var(--bg_secundary01)
}
::-webkit-scrollbar-thumb{
	border-radius: var(--radius);
	background-color: var(--bg_secundary02);
	border:solid 1px var(--bg_secundary01)
}